/tests/switch_telnet_connect/working_nodejs/api/node_modules
/tests/switch_telnet_connect/working_nodejs/web/node_modules
/switch_connect/node_modules
/node_modules
/tests/JSON_config/node_modules
# /algorithms/test_numpy_pwr/arrays/array1/7080.array
# /algorithms/test_numpy_pwr/arrays/array2/7080.array